/* 
    Document   : layout.css
    Created on : 27/02/2011, 1:53:50 PM
    Author     : marcin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body     {
   font-family: Georgia,'Times New Roman',times,serif;
   
    font-size: 12px;
}

.user-profile {
    width:300px;
    background-color: #f0f0f0;
}

.user-gravatar {
    width:100px;
}

.identity {  
  
    color: #575757;
   
}

#footer{
    
    font-size: 10px;
    color: #b9b9b9;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    border-top-style: dashed;
    border-top-width: 1px;
    padding-top: 10px;
     text-align: right;
}

#footer a  {

    color: #b9b9b9;
    text-decoration: none;
   
}
#footer a:hover  {
    text-decoration: underline;
}
